/* You can add global styles to this file, and also import other style files */
body{
    margin: 10px;
    padding: 20px;
}
.form-control.ng-touched.ng-invalid{
    border: 2px solid red;
}
.card-body{
    padding: 25px;
}
header{
    padding: 5px;
    text-align: center;
    height: 80px;
    background: -webkit-linear-gradient(left, #0072ff, #8811c5);
    color: #fff;
    font-weight: bold;
    line-height: 80px;
}
.form-switch{
    margin: 10px;
}
.radio-inline{
    margin-left: 18px;
}
label{
    color:slateblue;
}
.form-label:after{
    content:"*";
   color:red;
}
button
{
    position:initial;
    border:none;
    border-radius:1.5rem;
    padding: 1%;
    width: 20%;
    cursor: pointer;
}
